@import "tailwindcss";

body {
    background: rgba(0, 0, 0, 0.925);
    color: rgba(255, 255, 255, 0.938);
}

@theme inline {
    --font-poppins: var(--font-poppins);
    --font-work-sans: var(--font-work-sans);
}

/* Then go use variable where you want to like this : className="font-poppins" */



.subheading {
    color: aqua;
}